html,
body {
	padding: 0;
	margin: 0;

	/* background: #E5E5E5; */
	background: #F5F6F8;
	color: var(--black);
	font-family: "Open Sans", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	/* html {
		color-scheme: dark;
	}

	body {
		background: black;
		color: white;
	} */
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #787D85;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--red: #FC836D;
	--font-family: "Open Sans", sans-serif;
}
